{% extends 'base.html' %}

{% block title %}Add task{% endblock title %}

{% block content %}
    {% if user.teacher %}
        <p>You are not a student. You have not rights to see the content of this page.</p>
    {% elif user.is_staff %}
        <div class="container">
            <h1 class="title">Add task</h1>
            <div class="hw-form">
                <div class="form-body">
                    <form method="post" class="add_task">
                        {% csrf_token %}
                        {{form.title}}
                        {{form.description}}
                        <button class="btn" type="submit">Add</button>
                    </form>
                </div>
            </div>
    {% elif user.student %}
        <p>You are not a student. You have not rights to see the content of this page.</p>
    {% endif %}

{% endblock content %}