{% extends 'base.html' %}

{% block title %}Feedback{% endblock title %}

{% block content %}
    {% if user.teacher %}
        <p>You are not a student. You have not rights to see the content of this page.</p>
    {% elif user.is_staff %}
        <p>You are not a student. You have not rights to see the content of this page.</p>
    {% elif user.student %}
        <div class="container">

            <h1 class="title">Feedback</h1>

            <div class="task-detail">

                <div class="task-title">
                    <p>My answer for {{ stud_answer.task_id.title}}</p>
                    <p>Description: {{ stud_answer.task_id.description}}</p>
                </div>

                <div class="task-descrip">
                    <p>Answer: {{ stud_answer.body }}</p>

                    <div class="img-container">
                        {% if stud_answer.file %}
                            <img class="img" src="{{ stud_answer.file.url }}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="task-detail">
                
                <div class="task-title">
                    <p>For_student: {{ feedback.for_student}}</p>
                    <p>From teacher: {{ feedback.from_teacher}}</p>
                </div>

                <div class="task-descrip">
                    <p>Feedback: {{ feedback.feedback }}</p>
                    <p>Mark: {{ feedback.mark }}</p>
                </div>
            </div>

        </div>

    {% endif %}

{% endblock content %}