{% extends 'base.html' %}

{% block title %}Teacher's feedback{% endblock title %}

{% block content %}
    {% if user.teacher %}
        <p>You are not a student. You have not rights to see the content of this page.</p>
    {% elif user.is_staff %}
        <p>You are not a student. You have not rights to see the content of this page.</p>
    {% elif user.student %}
        <div class="container">
            <h1 class="title">Feedback</h1>
            <div class="hw-form">
                    <div class="form-header">

                        <p>For task: {{ stud_answer.task_id.title}}</p>
                        <p>Description: {{ stud_answer.task_id.description}}</p>
                        <p>From_student: {{ stud_answer.from_student}}</p>

                    </div>

                    <div class="form-body">
                        <div class="stud-answer">
                            {{ stud_answer.body }}
                        </div>

                        <div class="img-container">
                            {% if stud_answer.file %}
                                <img class="img" src="{{ stud_answer.file.url }}" alt="">
                            {% endif %}
                        </div>
                    </div>
                </div>

            <div class="hw-form">
                    <div class="form-header">

                        <p>For_student: {{ feedback.for_student}}</p>
                        <p>For task: {{ feedback.for_task.title}}</p>
                        <p>Description: {{ feedback.for_task.description}}</p>

                    </div>

                    <div class="form-body">
                        <div class="stud-answer">
                            {{ feedback.feedback }}
                        </div>

                        <div class="stud-answer">
                            {{ feedback.mark }}
                        </div>

                    </div>
                </div>

        </div>

    {% endif %}

{% endblock content %}