{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}
    {% if user.teacher %}
        <div class="container">
            <h1 class="title">Tasks for correction</h1>
            {% if for_correct %}
                {% for f_c in for_correct %}
                    <div class="task-correction">
                        <div class="correction-header">
                            <p>From student: {{f_c.from_student}}</p>
                            <p>For task: {{f_c.task_id}}</p>
                        </div>
                        <button class="btn">
                            <a href="{% url  'correct_task' f_c.pk %}">Check it</a>
                        </button>
                    </div>
                {% endfor %}
            {% else %}
                <p>There is no homeworks to correct</p>
            {% endif %}
        </div>
    {% elif user.is_staff %}
        <div class="container">
            <h1 class="title">Tasks</h1>
            <a class="adding" href="{% url  'add_task' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Add task
            </a>
            {% if tasks %}
                {% for task in tasks %}
                    <div class="task">
                        <a href="{% url 'task_detail' task.slug %}"><p> {{task.title}}</p></a>
                    </div>
                {% endfor %}
            {% else %}
                <p>There isn't any task</p>
            {% endif %}
        </div>

    {% elif user.student %}
        <div class="container">
            <h1 class="title">Tasks</h1>
            {% if tasks %}
                {% for task in tasks %}
                    <div class="task">
                        <a href="{% url 'task_detail' task.slug %}"><p> {{task.title}}</p></a>
                    </div>
                {% endfor %}
            {% else %}
                <p>There isn't any task</p>
            {% endif %}
        </div>
    {% endif %}
{% else %}
            <div class="not_auth">
                <p>You are not logged in</p>
                <p><a href="{% url 'login' %}">Login</a>|<a href="{% url 'signup' %}">Sign up</a></p>
            </div>

{% endif %}
{% endblock content %}