{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block header %}
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'logout' %}">Log out</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="{% url 'login' %}">Log in</a></li>
            <li><a href="{% url 'signup' %}">Sign up</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
<div class="enter-form">
    <h1 class="title">Sign up</h1>
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
        {{form.first_name}}

        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
        {{form.last_name}}

        <label for="{{ form.email.id_for_label}}">{{form.email.label}}</label>
        {{form.email}}

        <label for="{{ form.password1.id_for_label}}">{{form.password1.label}}</label>
        {{form.password1}}

        <label for="{{ form.password2.id_for_label}}">{{form.password2.label}}</label>
        {{form.password2}}

        <button class="btn" type="submit">Sign up</button>
        <p>Have already account? <a href="{% url 'login' %}">Log in</a></p>
    </form>
</div><!--enter-form-->
{% endblock content %}


