{% extends 'base.html' %}

{% block title %}Delete task{% endblock title %}

{% block content %}
    {% if user.teacher %}
        <p>You are not a student. You have not rights to see the content of this page.</p>
    {% elif user.is_staff %}
        <div class="container">
            <h1 class="title">Delete task</h1>
            <form action="" method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <button class="delete-btn" type="submit">Delete</button>
            </form>
    {% elif user.student %}
        <p>You are not a student. You have not rights to see the content of this page.</p>
    {% endif %}

{% endblock content %}